{% extends 'base.html' %} {% load static %} {% block head %}
<script
  type="text/javascript"
  src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"
></script>
<style>
  #analysis-container {
    font-size: clamp(1rem, 1.45vw, 22px);
  }
</style>
{% endblock %} {% block content %}

<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="row flex-grow-1">
    <div class="col-lg-8 align-self-center">
      <div class="card border-0 shadow" style="max-height: 512px; overflow: auto;">
        <div class="card-body d-flex justify-content-center">
          <div id="stream-container">
            <video
              id="webcam"
              autoplay
              playsinline
              class="w-100 h-auto"
            ></video>
            <canvas id="canvas" class="d-none"></canvas>
          </div>
          <div id="picture-container" class="py-5 d-flex justify-content-center gap-3 d-none">
            <span class="visually-hidden">Loading...</span>
            <div
              class="spinner-grow text-dark loading"
              role="status"
              style="width: 3rem; height: 3rem"
            ></div>
            <div
              class="spinner-grow text-dark loading"
              role="status"
              style="width: 3rem; height: 3rem"
            ></div>
            <div
              class="spinner-grow text-dark loading"
              role="status"
              style="width: 3rem; height: 3rem"
            ></div>
            <img src="" alt="" id="picture-img" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
          </div>
        </div>
      </div>

      <button
        id="take-photo-button"
        class="btn btn-secondary rounded-5 mt-2 w-100"
      >
        Tirar foto
      </button>
    </div>
    <div class="col-lg-4 mt-5 mt-lg-0" id="analysis-container">
      <div class="card border-0 shadow">
        <div class="card-header">
          <h5 class="mb-0">Análise</h5>
        </div>
        <div class="card-body d-flex flex-column gap-3">
          <div>
            <p class="mb-0">
              Bananas Verdes: <span id="verde-count">0</span> cacho(s)
            </p>
            <p class="mb-0">
              Bananas Amadurecendo:
              <span id="amadurecendo-count">0</span> cacho(s)
            </p>
            <p class="mb-0">
              Bananas Maduras: <span id="maduras-count">0</span> cacho(s)
            </p>
            <p class="mb-0">
              Bananas Passadas: <span id="passadas-count">0</span> cacho(s)
            </p>
            <p class="mb-0">
              Cachos analisados: <span id="cachos_analisados-count">0</span>
            </p>
          </div>
		  <div id="diagnostic-container" class="d-none">
            <p class="mb-1"><b>Diagnóstico</b></p>
            <p class="mb-0" id="diagnostic-message"></p>
          </div>

		  <div class="{% if not last_update %} d-none {% endif %}"><i>Última atualização: <span id="last-update"> {{ last_update }} </span></i></div>
        </div>
      </div>
	  <a href="{% url 'dashboard' %}" class="btn btn-primary w-100 mt-4">Ir para o dashboard</a>
    </div>
  </div>
</div>


<div class="modal fade" id="bananaModal" tabindex="-1" aria-labelledby="bananaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="bananaModalLabel">Alerta</h5>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% csrf_token %}

{% endblock %}

{% block script %}
<script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = document.querySelector('[name="csrfmiddlewaretoken"]').value;
  const webcamElement = document.getElementById('webcam');
  const canvasElement = document.getElementById('canvas');
  const webcam = new Webcam(webcamElement, 'user', canvasElement);

  navigator.mediaDevices
  	.getUserMedia({ video: true })
  	.then((stream) => {
  		webcamElement.srcObject = stream;
  	})
  	.catch((error) => {
  		console.log('Error accessing webcam:', error);
  	})


  // const mensagem = "Foi detectado 1 cacho com bananas estragadas.";
  // document.querySelector('#bananaModal .modal-body').innerText = mensagem;
  // const bananaModal = new bootstrap.Modal(document.getElementById('bananaModal'));
  // bananaModal.show();

  document.getElementById('take-photo-button').addEventListener('click', async function() {
  	const pictureContainer = document.getElementById('picture-container');
  	const pictureImage = document.getElementById('picture-img');
  	const streamContainer = document.getElementById('stream-container');
  	console.log("stream container is", streamContainer)

  	streamContainer.classList.add('d-none');
  	pictureContainer.classList.remove('d-none');
  	pictureImage.classList.add('d-none');
    document.querySelectorAll('.loading').forEach(element => {
      element.classList.remove('d-none');
    })

  	const context = canvasElement.getContext('2d');
  	canvasElement.width = webcamElement.videoWidth;
  	canvasElement.height = webcamElement.videoHeight;
  	context.drawImage(webcamElement, 0, 0, canvasElement.width, canvasElement.height);

    const formData = new FormData();
  	const picture = canvasElement.toDataURL('image/png');
    formData.append('image', picture);

    const res = await fetch('{% url 'receive_webcam_image' %}', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrftoken,
        },
        body: formData,
    })


  	const data = await res.json();
  	const imageUrl = data.image_url;

    document.querySelectorAll('.loading').forEach(element => {
      element.classList.add('d-none');
    })
  	pictureImage.src = imageUrl;
  	pictureImage.classList.remove('d-none');

    document.getElementById("verde-count").innerHTML = data.verde;
    document.getElementById("amadurecendo-count").innerHTML = data.amadurecendo;
    document.getElementById("maduras-count").innerHTML = data.maduras;
    document.getElementById("passadas-count").innerHTML = data.passadas;
    document.getElementById("cachos_analisados-count").innerHTML = data.cachos_analisados;
	

	const qtdPassadas = parseInt(data.passadas);
	if (qtdPassadas > 0) {
	  let mensagem = "";
	  if (qtdPassadas === 1) {
		  mensagem = "Foi detectado 1 cacho com bananas estragadas.";
	  } else {
		  mensagem = `Foram detectados ${qtdPassadas} cachos com bananas estragadas.`;
	  }
	  document.querySelector('#bananaModal .modal-body').innerText = mensagem;
	  const bananaModal = new bootstrap.Modal(document.getElementById('bananaModal'));
	  bananaModal.show();
	}


	const verde = parseInt(data.verde);
	const amadurecendo = parseInt(data.amadurecendo);
	const maduras = parseInt(data.maduras);
	const passadas = parseInt(data.passadas);

	let diagnosis = "";
	  if (passadas <= 0 ) {
		const maxEstado = Math.max(verde, amadurecendo, maduras);
		if (maxEstado === 0) {
			diagnosis = "";
		} else if (maxEstado === verde) {
			diagnosis = "A maior parte das bananas está verde.";
		} else if (maxEstado === amadurecendo) {
			diagnosis = "A maior parte das bananas está amadurecendo.";
		} else {
			diagnosis = "Várias bananas irão passar do ponto nos próximos dias.";
		}
	  }
	else {
		diagnosis = `${qtdPassadas} ${qtdPassadas === 1 ? "cacho está" : "cachos estão"} com bananas estragadas.`
	}

	document.getElementById("diagnostic-message").innerText = diagnosis;
	document.getElementById("diagnostic-container").classList.remove("d-none");
  });


</script>
{% endblock %}
